.App {
  text-align: center;
}

.App__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App__role {
  display: flex;
  gap: 20px;
}
.App__nav {
  display: flex;
  gap: 15px;
}
.App__nav li {
  display: block;
  text-decoration: none;
}
.App__role-label {
  font-size: 18px;
  font-weight: bold;
}

.home,
.user,
.admin {
  font-size: 24px;
  color: steelblue;
  font-weight: bold;
}

.private__not-allowed {
  font-size: 24px;
  color: red;
  font-weight: bold;
}
